@use "../variables" as vars;

.container {
  padding-left: vars.$default-padding;
  padding-right: vars.$default-padding;
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: vars.$default-padding;
}
